[Unit]
Description=moose.gr contact form handler
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/bin/python3 /opt/moosegr-contact/app.py
EnvironmentFile=/etc/moosegr-contact.env
Restart=always
RestartSec=2
DynamicUser=yes
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
PrivateTmp=yes
RestrictAddressFamilies=AF_INET AF_INET6

[Install]
WantedBy=multi-user.target
