<footer class="bg-gray-800 text-white py-12">
  <div class="container mx-auto grid grid-cols-4 gap-8">
    <div>
      <h4 class="text-lg font-semibold mb-4">Contact Us</h4>
      <ul>
        <li>
          <span class="block text-sm">Phone:</span>
          <a href="tel:+306980310555" class="text-green-300 hover:underline">+30 698 031 0555</a>
        </li>
        <li class="mt-4">
          <span class="block text-sm">Email:</span>
          <a href="mailto:info@moose.gr" class="text-green-300 hover:underline">
            info@moose.gr
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h4 class="text-lg font-semibold mb-4">Quick Links</h4>
      <ul>
        <li class="hover:underline"><a href="#home">Home</a></li>
        <li class="hover:underline"><a href="#services">Services</a></li>
        <li class="hover:underline"><a href="#portofolio">Portfolio</a></li>
      </ul>
    </div>
    <div>
      <h4 class="text-lg font-semibold mb-4">Follow Us</h4>
      <ul>
        <li class="hover:underline"><a href="#">LinkedIn</a></li>
        <li class="hover:underline"><a href="#">Twitter</a></li>
        <li class="hover:underline"><a href="#">Instagram</a></li>
      </ul>
    </div>
    <div>
      <h4 class="text-lg font-semibold mb-4">Newsletter</h4>
      <form class="space-y-2">
        <input type="email" placeholder="Your Email" class="bg-gray-700 p-2 text-gray-300 w-full">

        <button class="px-4 py-2 border hover:bg-white hover:text-gray-700 transition-colors duration-300 easy-in-out">Subscribe</button>
      </form>
    </div>
  </div>
  <div class="text-center mt-8 text-gray-300 italic text-sm">
    <p>© 2023 Moose Software Solutions. All Rights Reserved.</p>
  </div>
</footer>
