---
import girlLaptopPNG from "../assets/girl_laptop.png";
---

<div class="header bg-cyan-100">
  <div class="navbar flex justify-around items-center py-5">
    <div class="logo font-bold text-cyan-500 text-3xl cursor-pointer">
      <span class="text-red-500">MS</span>Solutions
    </div>
    <div class="nav-links">
      <ul class="text-blue-900 cursor-pointer flex gap-10">
        <li class="active text-cyan-500 border-b-2 border-cyan-500">Home</li>
        <li>About Us</li>
        <li>Our Services</li>
        <li>Testimonials</li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="call-to-action">
      <button class="text-white bg-cyan-500 rounded-3xl px-5 py-3"
        >Get a Quote</button
      >
    </div>
  </div>
  <div class="hero pt-10 flex items-center justify-center">
    <div class="max-w-2xl">
      <div
        class="title text-blue-900 font-bold text-5xl leading-tight tracking-wide"
      >
        We provide the most <span class="text-cyan-500"
          >Innovative Solutions</span
        > to your business idea
      </div>
      <div class="subtitle text-gray-500 my-5 text-justify">
        Discover the power of innovation with our software solutions. Let us
        turn your business idea into a reality, taking you to new heights of
        success. With our team of experts by your side, you can trust us to
        provide the most cutting-edge solutions to drive your business forward.
      </div>
      <div class="call-to-action py-10">
        <button class="text-white bg-cyan-500 rounded-3xl px-5 py-3"
          >Get in Touch</button
        >
      </div>
    </div>
    <img
      class="illustration ml-36 w-64"
      src={girlLaptopPNG}
      alt="Girl on Laptop Illustration"
    />
  </div>
</div>
