<section class="flex items-center justify-around p-10">
  <div>
    <div class="py-4">
      <h1 class="text-3xl">Navigating the Digital Forest</h1>
      <p class="text-gray-300">Pioneering Digital Excellence.</p>
    </div>
    <button class="bg-gray-800 px-4 py-2">Learn More</button>
  </div>
  <img src="https://via.placeholder.com/500x500" alt="">
</section>